In [1]:
import os
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer,TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
import re
from sklearn.metrics import *

In [53]:
data

                                                       x  y
0      georges polti bir dəfə otuz altı dramatik vəzi...  0
1      bu ruhanilərin günəşin altında yeni heç nə yox...  0
2      fakültə axşamdan səhərə qədər rejissor robert ...  0
3      bu nalayiq səfərdə orijinal materialın ölçülə ...  0
4      həm kukla ustalarından həm də cəsəd oğurlayanl...  0
...                                                  ... ..
64715  çox vaxt su anbarı itləri sizin tipik qanqster...  1
64716  qəhvəxanadakı açılış səhnəsi filmi yüksək notd...  1
64717  başqa bir səhnə rotun nəhəng bir çanta marixua...  1
64718  bunların heç birinin çox süjet aktuallığı yoxd...  1
64719  su anbarı itləri yaxşıdır amma bu fantastika d...  1

[64720 rows x 2 columns]

In [29]:
# file_path = ("data/neg","data/pos")
# data=pd.DataFrame(columns=["x","y"])
# for (i,k) in enumerate(file_path):
#     for file in os.listdir(k):
#         with open(f"{k}/{file}","r") as f:
#             new=f.readlines()
#             n = pd.DataFrame(zip(new,[i]*len(new)),columns=["x","y"])
#             data=pd.concat([data,n])
#             # for rey in f.readlines():
# data.to_csv("data/sentiment.csv",index=None)

In [51]:
data=pd.read_csv("data/sentiment.csv")

In [52]:
data["x"] = data["x"].apply(lambda txt:re.sub("[^\w\s]+|(\w*w+\w*)|a{3,}|\u200b|\x14|\n|^a{2,}\w*$","",txt).lower())
data["x"] = data["x"].apply(lambda txt:re.sub("\s+.\s+"," ",txt).lower())

In [48]:
data=sklearn.utils.shuffle(data)

In [54]:
X=data["x"]
y=data["y"]

In [55]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.90)

In [62]:
pipe = Pipeline([
    ('count_vect', CountVectorizer(ngram_range=(1,4),stop_words=["yəni","də","amma","ancaq","lakin","isə","ilə","çünki","ki"])),
    ("tfidf_transformer",TfidfTransformer()),
    ('model', LogisticRegression())])

In [6]:
stop_words=["və","də","hələ","lakin","ancaq","amma","çünki","hərçənd","halbuki","isə","ya", "ya da ki","və ya", "və yaxud", "yaxud da","gah", "gah da", "gah da ki", 
            "istər", "istərsə də", "həm", "həm də", "həm də ki", "o cümlədən", "o sıradan", "nəinki", "hətta", "habelə", "həmçinin","əgər", "hərgah","madam ki", 
            "indi ki", "yoxsa", "bir halda ki","hərçənd", "hərçənd ki", "nə", "nə də", "nə də ki","ki", "belə ki"]
stop_words =list(set(",".join(stop_words).split(" ")))

In [37]:
# pipe = Pipeline([('count_vect', CountVectorizer(ngram_range=(2,4))),('log', LogisticRegression())])

In [64]:
model = pipe.fit(X_train,y_train)

In [65]:
print(classification_report(y_train,model.predict(X_train)))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96     28572
           1       0.96      0.96      0.96     29676

    accuracy                           0.96     58248
   macro avg       0.96      0.96      0.96     58248
weighted avg       0.96      0.96      0.96     58248

In [66]:
y_predict = pipe.predict(X_test)
print(classification_report(y_predict,y_test))

              precision    recall  f1-score   support

           0       0.59      0.67      0.63      2845
           1       0.71      0.64      0.67      3627

    accuracy                           0.65      6472
   macro avg       0.65      0.65      0.65      6472
weighted avg       0.66      0.65      0.65      6472

In [31]:
pipe["count_vect"].get_feature_names_out()

array(['aa görüşlərində', 'aa görüşlərində qürurla',
       'aa görüşlərində qürurla danışdıqları', ...,
       'əşyaya çevrilsələr də', 'əşyaya çevrilsələr də tamaşaçı',
       'əşyaya çevrilsələr də tamaşaçı bunun'], dtype=object)

In [61]:
data

                                                       x  y
0      georges polti bir dəfə otuz altı dramatik vəzi...  0
1      bu ruhanilərin günəşin altında yeni heç nə yox...  0
2      fakültə axşamdan səhərə qədər rejissor robert ...  0
3      bu nalayiq səfərdə orijinal materialın ölçülə ...  0
4      həm kukla ustalarından həm də cəsəd oğurlayanl...  0
...                                                  ... ..
64715  çox vaxt su anbarı itləri sizin tipik qanqster...  1
64716  qəhvəxanadakı açılış səhnəsi filmi yüksək notd...  1
64717  başqa bir səhnə rotun nəhəng bir çanta marixua...  1
64718  bunların heç birinin çox süjet aktuallığı yoxd...  1
64719  su anbarı itləri yaxşıdır amma bu fantastika d...  1

[64720 rows x 2 columns]

In [124]:
Z.

<10x162 sparse matrix of type '<class 'numpy.int64'>'
	with 180 stored elements in Compressed Sparse Row format>

In [96]:
set(data["x"].apply(lambda x:re.sub("\w+|\s+","",x)))

{'', '̇', '̇̇', '̇̇̇'}

In [23]:
data

                                                       x  y
0      georges polti bir dəfə otuz altı dramatik vəzi...  0
1      bu ruhanilərin günəşin altında yeni heç nə yox...  0
2      fakültə axşamdan səhərə qədər rejissor robert ...  0
3      bu nalayiq səfərdə orijinal materialın ölçülə ...  0
4      həm kukla ustalarından həm də cəsəd oğurlayanl...  0
...                                                  ... ..
64715  çox vaxt su anbarı itləri sizin tipik qanqster...  1
64716  qəhvəxanadakı açılış səhnəsi filmi yüksək notd...  1
64717  başqa bir səhnə rotun nəhəng bir çanta marixua...  1
64718  bunların heç birinin çox süjet aktuallığı yoxd...  1
64719  su anbarı itləri yaxşıdır amma bu fantastika d...  1

[64720 rows x 2 columns]